body{
  background-image:url('bg.jpg');
  background-position: top;
  background-size: cover;
}

h1{
  font-family: 'Merienda', cursive;
  color: #FADCD9;
  font-size: 500%;
  text-shadow: 2px 2.5px #F79489;
}

.rows{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
	display: flex;
	justify-content: center;
}

img{
  max-width: 14vw;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
  margin-bottom: 1.5vw;
  margin-top: 1.5vw;
  filter: blur(1.5px);

}

img:hover{
  margin-bottom: 0px;
  margin-top: 0px;
  max-width: 17vw;
  transition: 0.3s;
  filter: blur(0px);
}

.lastcontainer{
  justify-content: center;
  display: flex;
  padding-bottom: 200px;
}

.phone{
  display: none;
}

.desktop {
}
@media only screen and (max-width:500px) {

h1{
  font-size: 200%;
  text-shadow: 1px 1px #F79489;
}

img{
 max-width: 40vw;
 padding: 8px;
 margin: 0px;
 filter: blur(0px);
}

.lastcontainer{
  padding-bottom: 75px;
}

.phone {
  display: block;
}
.desktop{
  display: none;
}


}
